<!-- choose.html -->
    <div class="jumbotron text-center">
        <h1>Choose a movie</h1>
        <p>{{ chooseCtrl.message }}</p>        
    </div>
    <div class="container">
        <div class="col-md-7" id="movies" ng-repeat="movie in chooseCtrl.movies">
            <ul class="media-list">
              <li class="media">
                <div class="media-left">
                  <a href="#" ng-click="select">
                    <img class="media-object" width="250px" src="http://image.tmdb.org/t/p/w300{{ movie.poster_path }}" alt="{{ movie.title }}">
                  </a>
                </div>
                <div class="media-body">
                  <h4 class="media-heading">{{ movie.title }}</h4>
                    <button class="btn btn-primary" ng-click="watchThis(movie.title,movie.poster_path)">Watch This!</button>
                    <p>{{ movie.overview }}</p>
                </div>
              </li>
            </ul>
        </div>
    </div>
    